"*":
  "atom-html-preview":
    scrollToCursor: true
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-python":
    triggerCompletionRegex: "([. ]|[a-zA-Z_][a-zA-Z0-9_]*)"
    useKite: false
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "#ffffff"
  "bracket-matcher":
    autocompleteBrackets: false
    wrapSelectionsInBrackets: false
  core:
    audioBeep: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "block-cursor"
      "swackets"
      "spell-check"
      "emmet"
      "rainbow-delimiters"
      "autocomplete-python"
      "language-gfm"
      "proto-repl-charts"
      "proto-repl"
      "lisp-paredit"
      "parinfer"
      "busy-signal"
      "tool-bar"
      "ink"
      "github"
      "intentions"
      "linter-flake8"
      "diff-pane"
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: [
      "lisp-paredit"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "michiel-syntax"
    ]
    titleBar: "hidden"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Comic Sans MS"
    fontSize: 19
    showLineNumbers: false
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "60221d56-4651-4470-b889-a5ea334c7900"
  "graphviz-preview-plus": {}
  linter: {}
  "linter-flake8":
    hangClosing: true
    ignoreErrorCodes: [
      "E501"
      "E128"
    ]
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    decorateOnTreeView: "Files and Directories"
    gutterPosition: "Left"
    panelHeight: 176
    panelRepresents: "Entire Project"
    showTooltip: false
    useBusySignal: false
  "lisp-paredit":
    enabled: false
    strict: false
  "markdown-preview": {}
  pigments:
    autocompleteSuggestionsFromValue: true
    markerType: "gutter"
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions: {}
    useEslint: true
  "proto-repl":
    inkConsole: false
    leinPath: "/usr/local/bin/lein"
  "terminal-tab":
    fontFamily: "Monaco"
  "toggle-gutter":
    showGutters: false
  "tool-bar":
    fullWidth: false
    iconSize: "12px"
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
".js.source":
  editor:
    commentStart: "// "
    decreaseIndentPattern: "(?x) ^ \\s* (\\s* /[*] .* [*]/ \\s*)* [\\])]"
    explanation: "You can add extra conditions for Atom to change the indent level in your config.cson file, following the lead of the packages that define those conditions in the first place. Add the following to the top level of config.cson and Atom will automatically add a level of indentation after a line that matches the regular expression ifs*(.*)$. If you already have a .source.js entry, make sure to change that instead of just pasting this bit in. https://github.com/atom/language-javascript/blob/master/settings/language-javascript.cson  https://stackoverflow.com/questions/46905643/changing-indentation-style-in-atom-editor-javascript-code"
    foldEndPattern: "^\\s*\\}|^\\s*\\]|^\\s*\\)"
    increaseIndentPattern: "(?x) \\{ [^}\"']* $ | \\[ [^\\]\"']* $ | \\( [^)\"']* $"
    nonWordCharacters: "/\\()\"':,.;<>~!#@%^&*|+=[]{}`?-…"
".python.source":
  editor:
    showInvisibles: false
".source.sql":
  editor:
    showInvisibles: true
